

body{
    display: flex;
    margin:0;
    width:100vw;
    height: 100vh;
    z-index:-1;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    font-family:'lanapixel';
    color:white;
    justify-content: center;
    align-items: center;

}

h2{
    display: flex;
    justify-content: center;
    font-size:200px;
}

h1{
    font-size: 60px;
}

h3{
    font-size:30px;
}

.flex{
    display: flex;
}

.input{
    box-sizing: border-box;
    text-align: center;
    border:none;
    border-bottom: 2px solid white;
    font-size: 30px;
    padding:1px 4px;
    min-width:105%;
    background-color: rgba(0,0,0,0);
    color:white;
    font-family: 'lanapixel';

}

.input:focus{
    outline:none;
}

.button{
    cursor:pointer;
}

.button--hovered{
    opacity:0.5;
}