:root{
    --basic-green:#3A3730;
    --basic-ocean:#6BA6B4;
    --basic-white:#FAFAFA;
    --basic-light-sand:#D7BD8C;
    --basic-dark-sand:#AD8353;
    /*color pallete from https://sarahrenaeclark.com/25-summer-color-palettes/?epik=dj0yJnU9aTI2ZHVrczdENV9KMVZwd292dmVtcjJlbW9aRTN6TVomcD0wJm49dDhxLW45ZjF5YTBQTmctMHpmbkhSQSZ0PUFBQUFBR1I3UHdv*/

}