:root{
    --basic-green:#38443A;
    --basic-ocean:#BECCCD;
    --basic-white:#FAFAFA;
    --basic-light-sand:#EBE7DB;
    --basic-dark-sand:#C5BCAB;
    /*color pallete from https://sarahrenaeclark.com/25-summer-color-palettes/?epik=dj0yJnU9aTI2ZHVrczdENV9KMVZwd292dmVtcjJlbW9aRTN6TVomcD0wJm49dDhxLW45ZjF5YTBQTmctMHpmbkhSQSZ0PUFBQUFBR1I3UHdv*/

}