.login-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    animation:fadein 1s;
    transition:all 1s;
}


#greeting-messages{
    animation:fadein 1s;
}

#welcome-message{
    margin-bottom: 30px;
    padding-top:30px;
}

#greeting__username{
    justify-content: center;
    white-space: pre;
}

#greeting{
    box-sizing: border-box;
    justify-content: center;
    white-space: pre;
}

#greeting__username{
    font-size:60px;
}