.login-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#welcome-message{
    margin-bottom: 30px;
    padding-top:30px;
}

.input{
    width:max-content;
    box-sizing: border-box;
    text-align: center;
    border:none;
    border-bottom: 2px solid black;
    font-size: 40px;
}

.input:focus{
    outline:none;
}

#greeting{
    box-sizing: border-box;
    justify-content: center;
}