#main-content{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width:100%;
}

#center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin:100px 0px;
}

#main-title{
    margin:30px 0;
}

.clock-screen:hover{
    
}