li.completed span{
    text-decoration: line-through;
}

.summarized>li:not(:first-child){
    display:none;
}

#todo-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation:fadein 1s;
}

#todo-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:80%;
}

#todo-input{
    transition:none;
}

#major-todo{
    margin-bottom: 20px;
}

#todo-list{
    width:70%;
    font-size:30px;
    flex-direction: column;
}

#todo-list::-webkit-scrollbar{
    width:10px;
}

#todo-list::-webkit-scrollbar-thumb{
    background:white;
}

#todo-list::-webkit-scrollbar-thumb:hover{
    cursor:pointer;
    opacity:0.5;
}

#todo-list li {
    width:100%;
    justify-content: center;
    list-style-position: inside;
    transition:transform .2s;
    border-radius: 5px;
}

#todo-list li .list--hovered{
    border-radius: 30%;
}


.todo-screen #todo-list li::before{
    content:'';
    display:inline-block;
}

#todo-list span{
    min-width:164px;
    font-size:25px;
    margin-left:10px;
    line-height: 150%;
    overflow: hidden;
    justify-content: center;
    transition:opacity 0s;
}

/*clock-screen에서의 디자인*/

.clock-screen #todo-list li span{
    white-space: nowrap;    
}

/*todo list의 삭제 아이콘*/
#todo-list i{
    font-size: 30px;
    border:none;
    margin:0 5px;
    align-items: center;
}

.trash-can--hovered{
    opacity:1;
}

.trash-can--not-hovered{
    color:var(--non-selected-element);
}

/*todo-screen에서의 디자인*/

.todo-screen #main-title{
    margin-top:60px;
}

.todo-screen #center-content{
    height:33%;
    margin:0;
}

.todo-screen #todo-container{
    height:64%;
    padding-bottom:5%;
}

.todo-screen #todo-container #todo-form{
    height:20%;
    justify-content: flex-start;
}

.todo-screen #todo-container #todo-list{
    height:80%;
    align-items: center;
    overflow-y: auto;
}

.todo-screen #todo-container #todo-list li{
    font-size:30px;
    padding:1% 0 ;
    line-height: 100.5%;
}

#virtual-span{
    font-size: 30px;
    white-space: nowrap;  
}

.marker{
    opacity:0.0;
    transition:.2s height ;
}

.ui-sortable-helper {
    transform:scale(.9)
}

#main-content,
#main-content *{
    box-sizing: border-box; /*border box는 한 번만 적용되기 때문에 모든 크기의 계산이 끝나고 적용되게 해야 함!!!*/
}