li.completed span{
    text-decoration: line-through;
}

.summarized>li:not(:first-child){
    display:none;
}

#todo-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#todo-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#major-todo{
    margin-bottom: 15px;
}