li.completed span{
    text-decoration: line-through;
}

.summarized>li:not(:first-child){
    display:none;
}

#todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#todo-form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}